body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font: 300 106%/1.5 Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  counter-reset: figure;
  padding: 0 1rem; }

body > section, body > div {
    width: auto;
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

input {
    padding: 2px 0;
    font-size: inherit;
    max-width: 20%;
    min-width: 90px;
    border-bottom: 1px solid;
    border-top: 0px hidden;
    border-right: 0px hidden;
    border-left: 0px hidden;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-align: center;
}
